<div class="productthumbnail">
	{% if pro_split_count > 2 %}
		<a href="{{product.url}}#{{pro_split[2] | handleize }}">
	{% else %}
		<a href="{{product.url}}#{{pro_split[1] | handleize }}">
	{% endif %}			
		<span class="text" href="#">
			<h3>{{pro_split | first}}</h3>
			{% if pro_split_count > 1 %}
			<h4>{{pro_split[2]}}</h4>
			{% endif %}			
		</span>

		<!-- <span class="backgroundimage" style="background-image:url({{ product.featured_image | product_img_url: 'large' }})"></span> -->
		<img src="{{ product.featured_image | product_img_url: 'large' }}">
		
	
	</a>	
</div>