{% assign producttype = productTypeSplit | first %}
{% assign producttype = producttype | append: productTypeSplit[1] %}

{% if producttype != productName %}
	<div class="productthumbnail listitem">
		<a href="{{ product.url }}">
			<img src="{{ product.featured_image | product_img_url: 'grande' }}">
		</a>

		<h3>{{producttype}}</h3>
		
		<ul>
			{% assign productOriginal = product %}
			<li>
				<a href="{{product.url}}">{{product.title | split: "|" | last}}</a>
			</li>
			{% assign location = forloop.index0|plus:1%}
			{% assign currentproduct = collection.products[location] %}
			{% assign currentproductSplit =  currentproduct.title | split: "|" %}
			{% if currentproductSplit[0] == productTypeSplit[0] and currentproductSplit[1] == productTypeSplit[1] %}
				{% include "product-checknext" %}
				{% assign location = location|plus:1%}
				{% assign currentproduct = collection.products[location] %}
				{% assign currentproductSplit =  currentproduct.title | split: "|" %}
				{% if currentproductSplit[0] == productTypeSplit[0] and currentproductSplit[1] == productTypeSplit[1] %}
					{% include "product-checknext" %}
				{% endif %}
			{% endif %}
			{% assign product =  productOriginal %}

		</ul>

		<a href="{{ product.url }}"><button class="button">buy</button> {{ product.price | money }} </a>
	</div>
	{% assign productName = producttype %}	
{% endif %}