{% assign productTitleSplit = product.title | split: "|" %}
{% assign productTitleSize = productTitleSplit | size%}

<div id="{{ productTitleSplit | last | handleize}}id" class="multi-product {% if skip_product.title != product.title %}hide{% endif %}">

	<h2>{{ productTitleSplit | first }}</h2>

	{% for title in productTitleSplit %}
		{% if forloop.first == false %}<h3 class="blue-h3">{{title}}</h3>{% endif %}
	{% endfor %}

	<div class="col-1">
		{% include "product-order-info" %}
	</div><div class="col-2">
		<div class="main">
			{% for image in product.images %} 
				<div class="product-slides"><img src="{{ image.src | product_img_url: 'grande' }}" alt="image.alt"></div>
			{% endfor %}
		</div>
		
		<div class="social-product">
			<a class="facebook" href="#facebook">{% include "social-facebook" %}</a>
			<a class="twitter" href="#twitter">{% include "social-twitter" %}</a>
		</div>

	</div><div class="col-1 second-buy">
		{% include "product-order-info" %}
	</div><div class="col-3">
		<div class="description">
			<h4>Details</h4>
			{{ product.description }}
		</div>
		<div class="social-product second">
			<a class="facebook" href="#facebook">{% include "social-facebook" %}</a>
			<a class="twitter" href="#twitter">{% include "social-twitter" %}</a>
		</div>
	</div>

</div>