<ul class="uniquetags">
{% assign location = forloop.index0|plus:1%}
{% assign productN = collection.products[location]%}
{% if productN.title == collection.products[forloop.index0].title %}
	{% assign count = 0%}
	{% for tag in product.tags%}
		{% assign previousIndex = forloop.index0 |minus: 1%}
		{% if productN.tags[forloop.index0] == product.tags[forloop.index] %}
			<a href="{{product.url|remove_first: '-1'}}{% if count == 1%}-1{%endif%}{% assign count = count | plus: 1 %}">{{tag}}</a>{% if count == 1 %},{%endif%}
		{% elsif productN.tags[forloop.index] == tag %}
			<a href="{{product.url|remove_first: '-1'}}{% if count == 1%}-1{%endif%}{% assign count = count|plus:1%}">{{productN.tags[forloop.index0]}}</a>{% if count == 1%},{%endif%}
		{% elsif forloop.last and productN.tags[forloop.index0] != tag and (productN.tags[previousIndex] == product.tags[forloop.index0] or productN.tags[forloop.index0] == product.tags[previousIndex])%}
			{% if productN.tags[previousIndex] == product.tags[forloop.index0] %}
				<a href="{{product.url|remove_first: '-1'}}{% if count == 1%}-1{%endif%}{% assign count = count|plus:1%}">{{productN.tags[forloop.index0]}}</a>{% if count == 1%},{%endif%}
			{% else %}
				<a href="{{product.url|remove_first: '-1'}}{% if count == 1%}-1{%endif%}{% assign count = count|plus:1%}">{{tag}}</a>{% if count == 1%},{%endif%}
			{% endif %}
		{% elsif productN.tags[forloop.index0] != tag %}
			<a href="{{product.url|remove_first: '-1'}}{% if count == 1%}-1{%endif%}{% assign count = count|plus:1%}">{{productN.tags[forloop.index0]}}</a>,
			<a href="{{product.url|remove_first: '-1'}}{% if count == 1%}-1{%endif%}{% assign count = count|plus:1%}">{{tag}}</a>
		{% endif %}
	{% endfor %}

{% endif %}
</ul>