{% assign producttype = productTypeSplit | first %}
{% assign producttype = producttype | append: productTypeSplit[1] %}

{% if producttype != productName %}
	<div class="productthumbnail">
		<a href="{{product.url}}#{{productTypeSplit | last | handleize}}">
			<div class="backgroundimage" style="background-image:url({{ product.featured_image | product_img_url: 'large' }})"></div>
			<div class="backgroundimage second" style="background-image:url({{ product.images | last | product_img_url: 'large' }})"></div>
		</a>
			<div class="text">
				<a href="{{product.url}}#{{productTypeSplit | last | handleize}}">
					<h3>{{productTypeSplit[0]}}</h3>
					<h4>{{productTypeSplit[1]}}</h4>
				</a>
				<br>
				{% assign productOriginal = product %}
				<h4><a href="{{product.url}}#{{productTypeSplit | last | handleize}}">{{productTypeSplit | last}}</a></h4>
				{% assign location = forloop.index0|plus:1%}
				{% assign currentproduct = collection.products[location] %}
				{% assign currentproductSplit =  currentproduct.title | split: "|" %}
				{% if currentproductSplit[0] == productTypeSplit[0] and currentproductSplit[1] == productTypeSplit[1] %}
					<h4><a>/</a> <a href="{{currentproduct.url}}#{{currentproductSplit | last | handleize}}">{{currentproductSplit | last}}</a></h4>
					{% assign location = location|plus:1%}
					{% assign currentproduct = collection.products[location] %}
					{% assign currentproductSplit =  currentproduct.title | split: "|" %}
					{% if currentproductSplit[0] == productTypeSplit[0] and currentproductSplit[1] == productTypeSplit[1] %}
						<h4><a>/</a> <a href="{{currentproduct.url}}#{{currentproductSplit | last | handleize}}">{{currentproductSplit | last}}</a></h4>
					{% endif %}
				{% endif %}
				{% assign product =  productOriginal %}

				<a href="{{product.url}}#{{productTypeSplit | last | handleize}}">
					<h4 class="price">{{ product.price | money }}</h4>
				</a>
			</div>
		
	</div>
	{% assign productName = producttype %}	
{% endif %}