{% if product.title != productName %}
	<div class="productthumbnail listitem">
		<a href="{{ product.url }}">
			<img src="{{ product.featured_image | product_img_url: 'grande' }}">
		</a>

		<h3>{{product.title}}</h3>
		{% assign location = forloop.index0|plus:1%}
		<hr>
		{% include "product-get-colours" %}
		<hr>
		<a href="{{ product.url }}"><button class="button">buy</button> {{ product.price | money }} </a>
	</div>
	{% assign productName = product.title %}	
{% endif %}