<div class="productthumbnail listitem">
	<a href="{{ product.url }}">
		<img src="{{ product.featured_image | product_img_url: 'grande' }}">
	</a>
	<a href="{{ product.url }}">
		<h3>{{product.title}}</h3>
	</a>
	<a href="{{ product.url }}">view</a>
</div>