{% assign producttype = productTypeSplit | first %}

{% if producttype != productName %}
	<div class="productthumbnail">
		<a href="{{product.url}}#{{productTypeSplit | last | handleize}}">
			<div class="backgroundimage" style="background-image:url({{ product.featured_image | product_img_url: 'large' }})"></div>
			<div class="backgroundimage second" style="background-image:url({{ product.images | last | product_img_url: 'large' }})"></div>
			
			<div class="text">
				<h3>{{productTypeSplit[0]}}</h3>
				{% assign productOriginal = product %}
				<h4><a href="{{product.url}}#{{productTypeSplit | last | handleize}}">{{product.title | split: "|" | last}}</a></h4>

				{% assign location = forloop.index0|plus:1%}
				{% assign currentproduct = collection.products[location] %}
				{% assign currentproductSplit =  currentproduct.title | split: "|" %}
				{% if currentproductSplit[0] == productTypeSplit[0] %}
					<h4><a>/</a> <a href="{{currentproduct.url}}#{{currentproductSplit | last | handleize}}">{{currentproductSplit | last}}</a></h4>
					{% assign location = location|plus:1%}
					{% assign currentproduct = collection.products[location] %}
					{% assign currentproductSplit =  currentproduct.title | split: "|" %}
					{% if currentproductSplit[0] == productTypeSplit[0] %}
						<h4><a>/</a> <a href="{{currentproduct.url}}#{{currentproductSplit | last | handleize}}">{{currentproductSplit | last}}</a></h4>
					{% endif %}
				{% endif %}
				{% assign product =  productOriginal %}

				<h4 class="price">{{ product.price | money }}</h4>
			</div>
		</a>
	</div>
	{% assign productName = producttype %}	
{% endif %}