<ul class="uniquetags">
{% assign one = forloop.index0|plus:1%}
{% assign two = forloop.index0|plus:2%}
{% assign three = forloop.index0|plus:3%}

{% assign productN = collection.products[one]%}
{% assign productL = collection.products[two]%}
{% assign product3 = collection.products[three]%}

{% assign myarray = "bohdan,test,things" |  split:","%}

{% if productN.title == collection.products[forloop.index0].title %}
	{% assign count = 0%}
	{{tag}}
	{% for tag in product.tags%}

		{% assign first = tag | split:"-"| last %}
		{% if "colour" == first %}
			<a href="{{product.url}}">{{tag | remove: "-colour"}}</a>
		{% endif %}

		{% assign second = productN.tags[forloop.index0] | split:"-"| last %}
		{% if "colour" == second %}
			<a href="{{productN.url}}">{{productN.tags[forloop.index0] | remove: "-colour"}}</a>
		{% endif %}


		{% if productL.title == collection.products[forloop.index0].title %}
			{% assign third = productL.tags[forloop.index0] | split:"-"| last %}
			{% if "colour" == third %}
				<a href="{{productL.url}}">{{productL.tags[forloop.index0] | remove: "-colour"}}</a>
			{% endif %}
		{% endif %}

		{% if product3.title == collection.products[forloop.index0].title %}
			{% assign third = product3.tags[forloop.index0] | split:"-"| last %}
			{% if "colour" == third %}
				<a href="{{product3.url}}">{{product3.tags[forloop.index0] | remove: "-colour"}}</a>
			{% endif %}
		{% endif %}		
	{% endfor %}	


{% elsif productN.title == collection.products[forloop.index0].title %}
	{% assign count = 0%}
	{% for tag in product.tags%}
		{% assign previousIndex = forloop.index0 |minus: 1%}
		{% if productN.tags[forloop.index0] == product.tags[forloop.index] %}
			<a href="{{product.url|remove_first: '-1'}}{% if count == 1%}-1{%endif%}{% assign count = count | plus: 1 %}">{{tag}}</a>{% if count == 1 %},{%endif%}
		{% elsif productN.tags[forloop.index] == tag %}
			<a href="{{product.url|remove_first: '-1'}}{% if count == 1%}-1{%endif%}{% assign count = count|plus:1%}">{{productN.tags[forloop.index0]}}</a>{% if count == 1%},{%endif%}
		{% elsif forloop.last and productN.tags[forloop.index0] != tag and (productN.tags[previousIndex] == product.tags[forloop.index0] or productN.tags[forloop.index0] == product.tags[previousIndex])%}
			{% if productN.tags[previousIndex] == product.tags[forloop.index0] %}
				<a href="{{product.url|remove_first: '-1'}}{% if count == 1%}-1{%endif%}{% assign count = count|plus:1%}">{{productN.tags[forloop.index0]}}</a>{% if count == 1%},{%endif%}
			{% else %}
				<a href="{{product.url|remove_first: '-1'}}{% if count == 1%}-1{%endif%}{% assign count = count|plus:1%}">{{tag}}</a>{% if count == 1%},{%endif%}
			{% endif %}
		{% elsif productN.tags[forloop.index0] != tag %}
			<a href="{{product.url|remove_first: '-1'}}{% if count == 1%}-1{%endif%}{% assign count = count|plus:1%}">{{productN.tags[forloop.index0]}}</a>,
			<a href="{{product.url|remove_first: '-1'}}{% if count == 1%}-1{%endif%}{% assign count = count|plus:1%}">{{tag}}</a>
		{% endif %}
	{% endfor %}

{% endif %}
</ul>