<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->  
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="//cloud.typography.com/717268/608946/css/fonts.css">


	<meta name="msvalidate.01" content="217F8C5251A0AF5A490D436ED72260C0" />
	<title>GOOD+HEC | FIND YOUR BALANCE</title>


	<!-- general metas -->
	<meta http-equiv="cleartype" content="on">	
	<meta name="description" content="Made in Canada, GOOD+HEC is a men’s lifestyle label inspiring our community to live a mindful and balanced life through body, mind and urban movement">
	<meta name="keywords" content="Toronto,Yoga,clothing,activewear,male,shorts,yogaclothes,onlinestore">
	<meta name="author" content="GOOD+HEC">

	<!-- mobile specific meta -->
	{% comment %}<meta name="HandheldFriendly" content="True">{% endcomment %}
	{% comment %}<meta name="MobileOptimized" content="320">{% endcomment %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@goodandhec" />
	<meta name="twitter:title" content="GOOD+HEC" />
	<meta name="twitter:description" content="Wellbeing is finding a balance between the inner world that shapes us and the outer world that drives us to do." />
{% comment %}	<meta name="twitter:image" content="http://goodandhec.com/assets/img/fbcard.png" />
	<meta name="twitter:url" content="http://goodandhec.com" />
	<meta property="og:image" content="http://goodandhec.com/assets/img/fbcard.png">{% endcomment %}
	<meta property="og:url" content="http://goodandhec.com">
	<meta property="og:title" content="GOOD+HEC">
	<meta property="og:description" content="Wellbeing is finding a balance between the inner world that shapes us and the outer world that drives us to do.">

	<link rel="shortcut icon" type="image/x-icon" href="https://cdn.shopify.com/s/files/1/0714/8515/files/favicon.png?1310830426143546460">

	{% comment %}{{ 'favicon.png' | asset_url }}">{% endcomment %}
	{% comment %}<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">{% endcomment %}


	{% if template == 'index' %}
		<title>{{ shop.name }} | {{ page_title }}</title>
	{% elsif template == '404' %}
		<title>Page Not Found | {{ shop.name }}</title>
	{% else %}
		<title>{{ page_title }} | {{ shop.name }}</title>
	{% endif %}
	{% if page_description %}
		<meta name="description" content="{{ page_description }}" />
	{% endif %}
	
	{% comment %}<link rel="canonical" href="{{ canonical_url }}" />{% endcomment %}
	{% comment %}<meta name="viewport" content="width=device-width" />  {% endcomment %}
	
	{{ content_for_header }}
	{{ 'style.min.css' | asset_url | stylesheet_tag }}
	{{ 'modernizr.min.js'  | asset_url | script_tag }}

</head>

<body  class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {{ page_title | handle }}" >
	<div id="main" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {{ page_title | handle }} m-scene">
		<div id="nav" class="m-header scene_element">
			<div>
				<div id="nav-logo">
					<a href="/">{% include "logo-small.html" %}</a>
				</div>
				<a href="/cart"><ul id="nav-cart" {% if cart.item_count == -1 %} style="display:none;"{%endif%}>
					{% comment %}<li><a href="/cart">Knapsack</a></li>
					<li><a href="/cart"><span id="cartitemcount">{{ cart.item_count}}</span> {{ cart.item_count | pluralize: 'item', 'items' }}</a></li>
					<li><a href="/cart"><span id="carttotalcost">{{ cart.total_price | money  }}</span></a></li>{% endcomment %}
					<li>Knapsack | <span id="cartitemcount">{{ cart.item_count}}</span> {{ cart.item_count | pluralize: 'item', 'items' }}</br>
					<span id="carttotalcost">{{ cart.total_price | money  }}</span></li>
				</ul></a>
				<ul id="nav-main">
					{% for link in linklists.main-menu.links %}

					{%comment%}		this figures out if there is a sub menue	{%endcomment%}
					{% assign has_drop_down = false %}
					{% assign child_list_handle = link.title | handle %}
					{% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
						{% assign has_drop_down = true %}
					{% endif %}

					<li class="{% if link.active %}selected{% endif %} {% if has_drop_down %}hassublinks{% endif %}">
						<span class="nav-item-clickable">
							{% if has_drop_down == false %}<a href="{{ link.url }}">{% endif %}
								{{ link.title }}
							{% if has_drop_down == false %}</a>{% endif %}
						</span>
						{% if has_drop_down %}
							<span class="sublist">
								<ul>
									{% for sublink in linklists[child_list_handle].links %}
										<li class="{% if sublink.active %}selected{% endif %}"><a href="{{ sublink.url }}">{{sublink.title}}</a></li>	
									{% endfor %}
								</ul>
							</span>
						{% endif %}
					</li>
					
					{% endfor %}					
				</ul>
			</div>
			<div class="hamburger openham"><a href="#togglenav">&equiv;</a></div>
		</div>
		<div id="nav-logo-mobile">
			<a href="/">{% include "logo-small.html" %}</a>
		</div>
		<div id="wrapper" class="m-page scene_element">
		{{ content_for_layout }}

			{% if settings[template] %}
				<div class="lifestyleshot" style="background-image:url({{ 'life_style_'| append: template | append: '.jpg' | asset_url}});"
				>
				<!--
					data-center="height:200px;margin-top:320px;"
					data-bottom="height:400px;margin-top:120px;"
				-->
					{%comment%}{{ 'life_style_'| append: template | append: '.jpg'}}{%endcomment%}
				</div>
			{% endif %}
		</div>
	</div>
	
	<div class="shipping">
		<div class="canada"><p> {{settings.ship_can}} <br>{% comment %} $10 flat shipping fee<br>Spend $120 and receive free shipping{% endcomment %}</p><a class="exit" href="#exit"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="37.013px" height="37.013px" viewBox="0 0 37.013 37.013" enable-background="new 0 0 37.013 37.013" xml:space="preserve"><defs></defs><line fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="2.121" y1="2.121" x2="34.892" y2="34.892"/><line fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="34.892" y1="2.121" x2="2.121" y2="34.892"/></svg></a></div>
		<div class="unitedstates"><p> {{settings.ship_us}} <br>{% comment %} $15 flat shipping fee<br>Spend $150 and receive free shipping{% endcomment %}</p><a class="exit" href="#exit"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="37.013px" height="37.013px" viewBox="0 0 37.013 37.013" enable-background="new 0 0 37.013 37.013" xml:space="preserve"><defs></defs><line fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="2.121" y1="2.121" x2="34.892" y2="34.892"/><line fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="34.892" y1="2.121" x2="2.121" y2="34.892"/></svg></a></div>
		<div class="world"><p> {{settings.ship_world}} <br>{% comment %} $20 flat shipping fee<br>Spend $150 and recieve free shipping{% endcomment %}</p><a class="exit" href="#exit"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="37.013px" height="37.013px" viewBox="0 0 37.013 37.013" enable-background="new 0 0 37.013 37.013" xml:space="preserve"><defs></defs><line fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="2.121" y1="2.121" x2="34.892" y2="34.892"/><line fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="34.892" y1="2.121" x2="2.121" y2="34.892"/></svg></a></div>
	</div>
	<div class="footer">
		<div class="center">
			{% comment %}<div class="logo">
				{% include 'logo-small.html' %}
			</div>{% endcomment %}<div class="containerfooter"><div class="footer-nav">
			<span>Policies / Shipping</span>
			<ul>
				{% for link in linklists.footer.links %}
					<li><a href="{{link.url}}#{{link.handle}}">{{link.title}}</a></li>
				{% endfor %}
			</ul>
			</div><div class="footer-nav wide">
			<span>Contact Us</span>
				<ul>
					
					<li><a href="mailto:hello@goodandhec.com">hello@goodandhec.com</a></li>
				</ul>
			</div></div><div class="news">
				<div class="signupform">
					<div>
						<div id="mc_embed_signup">
							<form action="//goodandhec.us10.list-manage.com/subscribe/post?u=2c5eed12197d57d3af985c724&amp;id=723e03d532" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<div id="mc_embed_signup_scroll">
								<span class="popup">{% if settings.stayintouch %}{{settings.stayintouch}}{% else %}Stay in touch{% endif %}</span>
								<span class="footer-text">{% if settings.stayintouchfooter %}{{settings.stayintouchfooter}}{% else %}Stay in touch{% endif %}</span></span>
							<div class="mc-field-group" id="mce-EMAIL">
								<input placeholder="Email" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" aria-labelledby="mce-EMAIL"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" aria-labelledby="mce-EMAIL">
							</div>
								<div id="mce-responses" class="clear"><div class="response" id="mce-error-response" style="display:none"></div><div class="response" id="mce-success-response" style="display:none"></div>
								</div><div style="position: absolute; left: -5000px;"><input type="text" name="b_2c5eed12197d57d3af985c724_723e03d532" tabindex="-1" value="" aria-labelledby="mce-responses"></div>
								</div>
							</form>
							<a class="popup-exit" href="#exit"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="37.013px" height="37.013px" viewBox="0 0 37.013 37.013" enable-background="new 0 0 37.013 37.013" xml:space="preserve"><defs></defs><line fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="2.121" y1="2.121" x2="34.892" y2="34.892"/><line fill="none" stroke="#FFFFFF" stroke-width="6" stroke-miterlimit="10" x1="34.892" y1="2.121" x2="2.121" y2="34.892"/></svg></a>							
						</div>
					</div>
				</div>

				<div class="social">
					<a class="facebook" target="_blank" href="https://www.facebook.com/goodandhec">{% include "social-facebook" %}</a>
					<a class="twitter" target="_blank" href="https://twitter.com/goodandhec">{% include "social-twitter" %}</a>
					<a class="instagram" target="_blank" href="https://instagram.com/goodandhec/">{% include "social-instagram" %}</a>
				</div>
			</div>
		</div>
	</div>
	{{ 'main.min.js'  | asset_url | script_tag }}
	{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
	<script type="text/javascript">	
		app.init();
		app.social.twitter = "{{settings.social-twitter}}";
		app.social.facebook = "{{settings.socail-facebook}}";
	</script>
	

	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Store",
		"name": "{{ shop.name }}",
		"description": "{{ page_description }}",
		"telephone": "{{shop.phone}}",
		"email": "{{shop.email}}"
	}
	</script>
		
	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
	<script type='text/javascript'>

		(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);

		window.fbAsyncInit = function() {
		FB.init({
			appId      : '474827749352318',
			xfbml      : true,
			version    : 'v2.3'
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>	


</body>
</html>
