<div class="article">
	<h2>{{ article.title }}</h2>
	<h3 class="sub-h3">{{ article.published_at | date: '%d %B %Y' }}</h3>
	{{ article.content }}
	{% assign currentArticle = article %}
	<div class="social-article">
		<a class="facebook" href="#facebook">{% include "social-facebook" %}</a>
		<a class="twitter" href="#twitter">{% include "social-twitter" %}</a>
	</div>
	{% if blog.handle == "journal" %}
		<div class="blog">
			<ul class=" bloglist">
				{% for article in blog.articles %}
					{% if article.title != currentArticle.title%}
						<li class="article">
							<h3 class="sub-h3">{{article.title}}</h3>
							<a href="{{article.url}}">
								{% if article.excerpt contains "<img" %}
									{% assign src = article.excerpt | split: 'src="' %}
									{% assign src = src[1] | split: '"' | first %}
									
									<img src="{{src}}" class="left"><span class="right">
										<span class="excerpt">{{article.excerpt}}</span>
										<button class="share socialbutton">share</button>
									</span>
								{% else %}
									<span class="excerpt">{{article.excerpt}}</span>
									<button class="share socialbutton">share</button>
								{% endif %}
							</a>
							<div class="social-post">
								<a class="facebook" href="http://goodandhec.com{{article.url}}">{% include "social-facebook" %}</a>
								<a class="twitter" href="https://twitter.com/intent/tweet?text=http://goodandhec.com{{article.url}} {{settings.social-twitter}}">{% include "social-twitter" %}</a>
							</div>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</div>