{% capture blogtitle %}{{blog.handle}}-carousel{% endcapture %}
{% if blogs[blogtitle].articles[0] %} 
<div class="slideshow">
	{% for article in blogs['story'].articles limit: 3 %}
		<div>{{article.content}}</div>
	{% endfor %}
</div>
{% endif %}

<div class="lookbook">
	{% assign bigCount = 3 %}
	{% assign bigNext = 2 %}
	{% assign bigIndex = 1 %}
	<div class="center">
	{% comment %}<h3 class="lined">{{article.title}}</h3>{% endcomment %}
	{% assign page = pages[blog.handle] %}
	{{page.content}}
	{% comment %}<h3 class="lined">{% for article in blogs['story'].articles limit: 3 %}
		{{article.content}}
	{% endfor %}</h3>{% endcomment %}
	{% assign aspectPerserver = "xMaxYMax"%}
	{% for article in blog.articles %}<div class="image">
		{{article.content}}
		{% for tag in article.tags %}
			{% assign firstHalf = tag | split: "-" %}
			{% if firstHalf[0] == "logo" %}
				{% assign import = tag | append: '.html'%}
				{% include import %}
			{% endif %}
		{% endfor %}
	</div>{% endfor %}
	</div>
</div>