{% capture blogtitle %}{{blog.handle}}-carousel{% endcapture %}
{% if blogs[blogtitle].articles[0] %} 
<div class="slideshow">
	{% for article in blogs[blogtitle].articles limit: 3 %}
		<div>{{article.content}}</div>
	{% endfor %}
</div>
{% endif %}

<div class="blog">
	{% assign bigCount = 3 %}
	{% assign bigNext = 2 %}
	{% assign bigIndex = 1 %}
	<div class="center">
	<h3 class="lined" >{{blog.title}}</h3>
	{% assign page = pages[blog.handle] %}
	{{page.content}}
	<ul class="bloglist" >
		{% for article in blog.articles %}
			<li class="article">
				<h4>{{article.title}}</h4>
				<a href="{{article.url}}">
					{% if article.excerpt contains "<img" %}
						{% assign src = article.excerpt | split: 'src="' %}
						{% assign src = src[1] | split: '"' | first %}
					
						<img src="{{src}}" class="left"><span class="right">
							<span class="excerpt">{{article.excerpt}}</span>
							<button class="share socialbutton">share</button>
						</span>
					{% else %}
						<span class="excerpt">{{article.excerpt}}</span>
						<button class="share socialbutton">share</button>
					{% endif %}
				</a>
			</li>
		{% endfor %}	
	</ul>

	</div>
</div>