{% capture blogtitle %}{{blog.handle}}-carousel{% endcapture %}
{% if blogs[blogtitle].articles[0] %} 
<div class="slideshow">
	{% for article in blogs['story'].articles limit: 3 %}
		<div>{{article.content}}</div>
	{% endfor %}
</div>
{% endif %}

<div class="blog center popup">
	{% assign page = pages[blog.handle] %}
	{% if page.content != ""%}
		<h3 class="lined">{{page.title}}</h3>
		
		<div class="pagecontent">
		{{page.content}}
		</div>
	{% endif %}

	{% comment %}
		search to see if there are any future popups
	{% endcomment %}
	{% assign future = false %}
	{% for article in blog.articles %}
		{% if article.tags[0] == "popup-future" %}
			{% assign future = true %}
			{% break %}
		{% endif %}
	{% endfor %}
	
	{% comment %}
		show current popups
	{% endcomment %}
	<h3 class="lined">{{settings.popup-current}}</h3>
	{% for article in blog.articles %}
		{% if article.tags[0] == "popup-current" %}
			<div class="popup-article">
				<h4>{{article.title}}</h4>
				{{article.content}}

				{% if article.content contains "<img" %}
					{% assign src = article.content | split: 'alt="' %}
					{% assign src = src[1] | split: '"' | first %}
					<p class="caption">{{src}}</p>
				{% endif %}

				{% comment %}{% for content in article.content %}
					<h5>{{content}}</h5>
				{% endfor %}{% endcomment %}
			</div>
		{% endif %}
	{% endfor %}

	{% comment %}
		show future pop ups
	{% endcomment %}
	{% if future %}
		<h3 class="lined">{{settings.popup-future}}</h3>

		{% for article in blog.articles %}
			{% if article.tags[0] == "popup-future" %}
				<div class="popup-article">
					<h4>{{article.title}}</h4>
					{{article.content}}
					
				</div>
			{% endif %}
		{% endfor %}

	{% endif %}

	</div>
</div>
