
<div class="slideshow index">
	{% for article in blogs['index'].articles %}
		<div>
			{{article.content}}
			<div class="overlaytext">{{article.excerpt}}</div>		
		</div>
	{% endfor %}
</div>

<div class="company">
	{% comment %}<h2>FIND YOUR BALANCE</h2>

<p>The GOOD+HEC in us moves fluidly from moment to moment&mdash;it is always in motion between fear vs. heart, positive vs. negative, past vs. future, work vs. life.</p>

<p>Wellbeing is finding balance between the inner world that shapes us and the outer world that drives us to do.</p>

<p>We are a lifestyle brand inspiring our community to live a mindful and balanced life through body, mind and urban movement.</p>{% endcomment %}
	<h1>{% if settings.index-about != "" %}{{settings.index-about}}{% else %}<a href="/admin/themes">add main text</a>{% endif %}</h1>
	<p>{% if settings.index-about-sub != "" %}{{settings.index-about-sub}}{% else %}{% comment %}<a href="/admin/themes">add sub text</a>{% endif %}{% endcomment %}{% endif %}</p>
</div>

<div class="logos">
	<div class="logo highlight"><a href="#0">{% include 'logo-body.html' %}</a>
	</div><div class="logo"><a href="#1">{% include 'logo-mind.html' %}</a>
	</div><div class="logo"><a href="#2">{% include 'logo-urban.html' %}</a></div>
	<blockquote>
		<div class="descriptions">
			<div id="logo-body" class="show">{{settings.logo-body}}</div>
			<div id="logo-mind" class="show">{{settings.logo-mind}}</div>
			<div id="logo-urban" class="show">{{settings.logo-urban}}</div>
		</div>
	</blockquote>
</div>


<div class="biglinks">
	{% for article in blogs['index-big-links'].articles limit: 3 %}<div>
			<div class="images">
				{{article.content}}
			</div>
			<div class="label"><button><h3>{{article.title}}</h3></button></div>
		</div>{% endfor %}
</div>
