
<div class="slideshow">
	{% for article in blogs['index'].articles limit: 3 %}
		<div>{{article.content}}</div>
	{% endfor %}
</div>

<div class="logos">
	<div class="logo">
		<a href="/">{% include 'logo-body.html' %}</a>
		<div class="hover">
			<p>short description</p>
		</div>
	</div><div class="logo">
		{% include 'logo-mind.html' %}
		<div class="hover">
			<p>short description</p>
		</div>
	</div><div class="logo">
		{% include 'logo-urban.html' %}
		<div class="hover">
			<p>short description</p>
		</div>
	</div>
</div>



{% assign page = pages.frontpage %}
{{ page.content }}
{% assign collection = collections["featured-products"] %}


<div class="featureditems">


{% for product in collection.products %}{% if product.title != productName %}<div class="product productthumbnail {% if count == 3 %}big{%endif%}">
	<a href="{{product.url}}">
	{% if count == 3 %}
		<div class="backgroundimage" style="background-image:url({{ product.images[1] | product_img_url: 'large' }})"></div>
		<div class="backgroundimage second" style="background-image:url({{ product.images | last | product_img_url: 'large' }})"></div>
	{% else %}
		<div class="backgroundimage" style="background-image:url({{ product.featured_image | product_img_url: 'large' }})"></div>
		<div class="backgroundimage second" style="background-image:url({{ product.images | last | product_img_url: 'large' }})"></div>
	{% endif %}
	</a>
	<a href="{{product.url}}">
		<div class="text" href="#">
			{% assign product_split = product.title | split: "|" %}
			<h3>{{product_split | first | handleize}}</h3>
			{% if product_split[1] %}<h4>{{product_split[1] | handleize}}</h4>{% endif %}
			{% if product_split[2] %}<h4>{{product_split[2] | handleize}}</h4>{% endif %}
			{% include "product-get-colours" %}
			<div class="bottom">
				{{product.content}}
			</div>
		</div>
	</a>
	{% assign productName = product.title %}
<!-- {% increment count %} -->
</div>{% endif %}{% endfor %}

</div>