
<div class="slideshow">
	{% for article in blogs['index'].articles limit: 3 %}
		<div>
			{{article.content}}
			<div class="overlaytext">{{article.excerpt}}</div>		
		</div>
	{% endfor %}
</div>

<div class="company">
	<h2>Good and Hec</h2>
	<p>{{settings.index-about}}</p>
</div>

<div class="logos">
	<div class="descriptions">
		<div id="logo-body" class="show">{{settings.logo-body}}</div>
		<div id="logo-mind" class="">{{settings.logo-mind}}</div>
		<div id="logo-urban" class="">{{settings.logo-urban}}</div>
	</div>

	<div class="logo"><a href="#logo-body">{% include 'logo-body.html' %}</a>
	</div><div class="logo"><a href="#logo-mind">{% include 'logo-mind.html' %}</a>
	</div><div class="logo"><a href="#logo-urban">{% include 'logo-urban.html' %}</a></div>
</div>


<div class="biglinks">
	{% for article in blogs['index-big-links'].articles limit: 3 %}
		<div>{{article.content}}</div>
	{% endfor %}
</div>
