<div class="slideshow">
	{% for article in blogs['story'].articles limit: 3 %}
		<div>{{article.content}}</div>
	{% endfor %}
</div>

<div class="story">
{% comment %}	<div class="pagecontent">
		{{ page.content }}
	</div>{% endcomment %}

	<h2>{{ pages["good-and-hec"].title }}</h2>
	<div class="gandh">
		{{ pages["good-and-hec"].content }}
		<div class="clear"></div>
	</div>

	<h2>Our Philosophy</h2>
	<div class="philosophy">
		{{ pages["philosophy"].content }}
	</div>

	<h2>Our Garments{% comment %}<a href="https://good-hec.myshopify.com/admin/articles?query=Our+Garments"><strong class="edit-here">Edit here</strong></a>{% endcomment %}</h2>
	<div class="process">
	{% assign blog = blogs["garments"] %}
	{% assign bigCount = 3 %}
	{% assign bigNext = 1 %}
	{% assign bigIndex = 1 %}
	<ul>
		<li>
			{{ pages["our-process"].content }}
		</li>
		{% comment %}{% for article in blog.articles %}<li class="{% if bigNext == bigIndex %}wide{% assign bigNext = bigNext|plus:bigCount %}{% if bigCount == 3 %}{% assign bigCount = 1 %}{% else %}{% assign bigCount = 3 %}{% endif %}{% endif %}">
				{{article.content}}
				{% assign bigIndex = bigIndex|plus:1 %}
			</li>{% endfor %}{% endcomment %}
	</ul>

	{% comment %}
	<ul>
		{% for article in blog.articles %}<li class="{% if bigNext == bigIndex %}wide{% assign bigNext = bigNext|plus:bigCount %}{% if bigCount == 3 %}{% assign bigCount = 1 %}{% else %}{% assign bigCount = 3 %}{% endif %}{% endif %}">
				<div class="article-image">{{article.excerpt}}</div>
				<div class="article-text">{{article.content}}</div>
				<a class="edit-here" href="https://good-hec.myshopify.com/admin/blogs/18059329/articles/{{article.id}}">edit</a>
				{% assign bigIndex = bigIndex|plus:1 %}
			</li>{% endfor %}
	</ul>
	{% endcomment %}

	</div>

	<h2>Our Benches</h2>
	<div class="process">
		<ul>
			<li>
				{{ pages["our-benches"].content }}
			</li>
		</ul>
	{% comment %}{% assign blog = blogs["benches"] %}
	<ul>
		{% for article in blog.articles %}<li class="{% if bigNext == bigIndex %}wide{% assign bigNext = bigNext|plus:bigCount %}{% if bigCount == 3 %}{% assign bigCount = 1 %}{% else %}{% assign bigCount = 3 %}{% endif %}{% endif %}">
				{{article.content}}
				{% assign bigIndex = bigIndex|plus:1 %}
			</li>{% endfor %}
	</ul>{% endcomment %}

	</div>		
</div>



	