<div id="{{page.handle}}">
	<h3 class="lined">{{ page.title }}</h3>
	{{ page.content }}
	<br>
	{% form 'contact' %}

		{% if form.posted_successfully? %}
			<div class="successForm feedback">
				<p>Thanks for contacting us! We'll get back to you as soon as possible.</p>
			</div>
		{% endif %}

		{% if form.errors %}
		<div class="errorForm feedback">
			<p>Oops, sorry. We were unable to submit your inquiry because it contained {{ form.errors | size | pluralize: 'an error', 'a few errors' }}. Please correct tFe following and submit again:</p>
			{% for field in form.errors %}
				<p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
			{% endfor %}
		</div>
		{% endif %}

		<br/><label for="contact[name]">Your Name:</label>
		<input type="text" name="contact[name]" placeholder="John Doe" />
		
		<br/><label for="contact[Company]">Company:</label>
		<input type="text" name="contact[Company]" placeholder="John Doe's Company" />
		
		<br/><label for="contact[email]">Email:</label>
		<input type="email" name="contact[email]" placeholder="john@example.com" />
	
		<br/><label for="contact[phone]">Phone Number:</label>
		<input type="telephone" name="contact[phone]" placeholder="647-555-1234" />
	
		<br/><label for="contact[body]">Message:</label>
		<textarea rows="15" cols="70" name="contact[body]" placeholder="Your Message - not required"></textarea>
	
{% comment %}		<br/><label for="contact[options]">Some other field</label>
		<select name="contact[options]">
			<option value="Hello1">Hello</option>
			<option value="Hello2">Hello</option>
			<option value="Hello3">Hello</option>
			<option value="Hello4">Hello</option>

		</select>{% endcomment %}
	
		<br/><input type="submit" id="contactFormSubmit" value="Submit" />

	{% endform %}	
</div>