<div class="slideshow">
	{% for article in blogs['story'].articles limit: 3 %}
		<div>{{article.content}}</div>
	{% endfor %}
</div>

<div class="story">

	<div class="pagecontent">
		{{ page.content }}
	</div>

	<h3 class="lined">The Good+Hec</h3>
	<div class="gandh">
		{{ pages["good-and-hec"].content }}
		<div class="clear"></div>
	</div>

	<h3 class="lined">Our Philosophy</h3>
	<div class="philosophy">
		{{ pages["philosophy"].content }}
	</div>

	<h3 class="lined">Our Process</h3>
	<div class="process">
	{% assign blog = blogs["process"] %}
	{% assign bigCount = 3 %}
	{% assign bigNext = 1 %}
	{% assign bigIndex = 1 %}
	<ul>
		{% for article in blog.articles %}<li class="{% if bigNext == bigIndex %}wide{% assign bigNext = bigNext|plus:bigCount %}{% if bigCount == 3 %}{% assign bigCount = 1 %}{% else %}{% assign bigCount = 3 %}{% endif %}{% endif %}">
				{{article.excerpt}}<a href="{{ article.url }}"> </a>
				{% assign bigIndex = bigIndex|plus:1 %}
			</li>{% endfor %}
	</ul>

	</div>	
</div>
	