<div id="product">
	<a href="{{product.url}}"><h2>{{ product.title }}</h2></a>
	{% for image in product.images %} 
		<img src="{{ image.src | product_img_url: 'grande' }}" alt="image.alt">
	{% endfor %}
	<br>
	<br>
	<div id="description">
	{{ product.description }}
	</div>
	<br>
	<br>

	<div id="sizing">
		{% for variant in product.variants %}
			{% if variant.available == true %}
				<button id="{{variant.id}}">{{ variant.title }}</button>
			{% else %}
				<button id="{{variant.id}}" class="notavailable">{{ variant.title }}</button>
			{% endif %}
		{% endfor %}
	</div>
	<form action="/cart/add" method="post" enctype="multipart/form-data">
		<select name="id">
			{% for variant in product.variants %}
				{% if variant.available == true %}
					<option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
				{% else %}
					<option disabled="disabled"> {{ variant.title }} - sold out!</option>
				{% endif %}
			{% endfor %}
		</select>
		<input type="submit" name="add" id="add" value="Add to Cart" class="button">
	</form>

	<br>
	<br>

</div>